@import '../../vars';

h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 50px;
}

.categories {
  // width: 100%;
  // display: grid;
  // grid-template-columns: repeat(4, 1fr);
  // grid-column-gap: 10px;
  // grid-row-gap: 10px;
  //padding: 10px;
  //width: 200px;
  //height: 100%;
  //position: fixed;
  //right: 0;
  //top: 0;
  //overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.categoryBtn {
  display: block;
  width: 100%;
  background: linear-gradient(
    to bottom,
    $bgcolor2 94%,
    darken($bgcolor2, 10) 6%
  );
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: $color2;
  transition: all 2s;

  &:hover {
    background: linear-gradient(
      to bottom,
      darken($bgcolor2, 4) 94%,
      darken($bgcolor2, 10) 6%
    );
  }
  &:active {
    outline: none !important;
    border: none !important;
    background: linear-gradient(
      to bottom,
      darken($bgcolor2, 10) 94%,
      darken($bgcolor2, 10) 6%
    );
  }
}
